
h1{
  font-family:Helvetica;
  font-size: 500 px;
  font-weight:bold;
  text-align:center;
  color:khaki;
}
.price{
  font-family:Helvetica;
  font-weight:bold;
  color:blue;
}
.s{
  font-family:Helvetica;
  font-size: 32px;
  font-weight:bold;
  color:white;
  background-color:mediumspringgreen;
}
.t{
  font-family:Helvetica;
  font-size: 32px;
  font-weight:bold;
  color:white;
  background-color:lightcoral;
}
.u{
  font-family:Helvetica;
  font-size: 32px;
  font-weight:bold;
  color:white;
  background-color:skyblue;
}
